# Topic Modelling using NLP - Job Descriptions Data

## Part 2 - EDA, Feature extraction and Topic Modelling using NLP

In [1]:
import pandas as pd
import support_functions as sf

### Load Kaggle dataset

In [9]:
jobs = pd.read_csv('../offline-datasets/kaggle-top30-job-descriptions/pre-processed/KaggleJobs.csv', na_filter=False)

In [10]:
jobs.head()

,Unnamed: 0,Location,Company,Job Title,Job Description,Salary,E-mail
0,0,,None,Administrative Assistant,This Administrative Assistant position is resp...,,
1,1,,,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...,,Kenneth.harker@healthcentral.org
2,2,,americanwest,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashi...,,barnard@americanwest.cc
3,3,,None,Sales Representative,Are you ready for something new? Are you tired...,,
4,4,,None,Customer Service Representative,Superior Staff Resources is currently seeking ...,,

In [11]:
# Drop 1st column
jobs.drop('Unnamed: 0', axis=1, inplace=True)

In [12]:
jobs.head()

,Location,Company,Job Title,Job Description,Salary,E-mail
0,,None,Administrative Assistant,This Administrative Assistant position is resp...,,
1,,,Administrative Assistant,ADMINISTRATIVE ASSISTANT Part Time The West Or...,,Kenneth.harker@healthcentral.org
2,,americanwest,Administrative Assistant,Administrative Assistant - In Bus 26yrs Fashi...,,barnard@americanwest.cc
3,,None,Sales Representative,Are you ready for something new? Are you tired...,,
4,,None,Customer Service Representative,Superior Staff Resources is currently seeking ...,,

### Load Indeed dataset

In [14]:
jobs2 = pd.read_csv('../offline-datasets/Indeed-jobs/data+science+consultantLondon_IndeedJobs.csv')

In [15]:
jobs2.head()

,Unnamed: 0,Location,Company,Job Title,Job Description,Salary
0,1,London,Mango Business Solutions,Data Consultant,A data consultant experienced in working in a ...,No salary information
1,2,London,Cambridge Healthcare Research,Associate Consultant,Where appropriate manages external contractors...,No salary information
2,3,London,managementsolutions,DATA SCIENCE CONSULTANT LONDON,You will be working in key projects for leadin...,No salary information
3,4,London,GreySpark Partners,"Data Science Consultant, Data Analyst (London)",Understanding of data best practices and basic...,No salary information
4,5,London,Celonis,Intern/Working Student Data Science / Business...,... have already gained substantial know-how i...,No salary information